@import url("https://fonts.googleapis.com/css?family=Chewy");
.pulsebig {
  -webkit-animation-name: pulsebig;
  animation-name: pulsebig;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

@-webkit-keyframes pulsebig {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulsebig {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
* {
  overflow: hidden !important;
}

body {
  font-family: "Arial", sans-serif;
  color: #fff;
}

div.exploding {
  width: 50px;
  height: 50px;
  position: absolute;
}

img.absemote {
  position: absolute;
  transform: scale(1.6);
}

div.notifications {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 1.7em;
  font-weight: 600;
}
div.notifications div {
  color: white;
  font-size: 1.7em;
  font-weight: bold;
  font-family: "Chewy", cursive;
  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
div.notifications div span.word1 {
  color: #dfffdf;
}
div.notifications div span.word4 {
  color: #ffdfdf;
}

#dotabet {
  width: 500px;
  position: absolute;
  top: 550px;
  left: 20px;
  display: none;
}
#dotabet td, #dotabet div {
  font-size: 1.7em;
  font-weight: bold;
  font-family: "Chewy", cursive;
}
#hsbet .chart {
  width: 70%;
}
#dotabet #winbetters {
  color: #fff;
  -webkit-text-stroke: 1px black;
}
#dotabet #lossbetters {
  color: #fff;
  -webkit-text-stroke: 1px black;
}
#dotabet #winpoints {
  color: #fff;
  -webkit-text-stroke: 1px black;
}
#dotabet #losspoints {
  color: #fff;
  -webkit-text-stroke: 1px black;
}
#dotabet .win {
  color: #64DD17;
}
#dotabet .lose {
  color: #D50000;
}
#dotabet div.left {
  float: left;
}
#dotabet div.right {
  position: absolute;
  bottom: 0;
  right: 50;
}
