{% extends "admin/layout.html" %}
{% set active_page = 'admin_autoresponse' %}
{% block title %}Create Autoresponse{% endblock %}
{% block body %}
{% if autoresponse %}
<h2>Edit Autoresponse &quot;{{ autoresponse.name }}&quot;</h2>
{% else %}
<h2>Create Autoresponse</h2>
{% endif %}
<form class="ui form" method="POST" action="/admin/autoresponses/create">
    {% if autoresponse %}
    <input type="hidden" name="id" value="{{ autoresponse.id }}" />
    {% endif %}
    <div class="fields">
        <div class="required field four wide">
            <label>Name</label>
            <input type="text" name="name" placeholder="Name to describe autoresponse" value="{{ autoresponse.name if autoresponse else ''}}" />
        </div>
        <div class="required field twelve wide">
            <label>Trigger</label>
            <input type="text" name="trigger" placeholder="Trigger" value="{{ autoresponse.trigger if autoresponse else ''}}"/>
        </div>
    </div>
    <div class="fields">
        <div class="field ui four wide required">
            <label>Operator</label>
            <select class="ui dropdown" name="operator">
                <option {{ 'selected="selected" ' if autoresponse and autoresponse.operator == 'contains' else '' }}value="contains">Contains</option>
                <option {{ 'selected="selected" ' if autoresponse and autoresponse.operator == 'startswith' else '' }}value="startswith">Starts with</option>
                <option {{ 'selected="selected" ' if autoresponse and autoresponse.operator == 'endswith' else '' }}value="endswith">Ends with</option>
                <option {{ 'selected="selected" ' if autoresponse and autoresponse.operator == 'exact' else '' }}value="exact">Exact</option>
                <option {{ 'selected="selected" ' if autoresponse and autoresponse.operator == 'regex' else '' }}value="regex">Regex</option>
            </select>
        </div>
        <div class="required field twelve wide">
            <label>Response</label>
            <input type="text" name="response" placeholder="Response" value="{{ autoresponse.response if autoresponse else ''}}"/>
        </div>
    </div>
    <div class="fields">
        <div class="field inline ui checkbox four wide">
            <input type="checkbox" id="cb_whisper" name="whisper"
                                                  {%- if not autoresponse or autoresponse.whisper %}
                                                  checked
                                                  {% endif -%} />
            <label for="cb_notify">Whisper</label>
        </div>
        <div class="field inline ui checkbox four wide">
            <input type="checkbox" id="cb_case_sensitive" name="case_sensitive"
                                                  {%- if autoresponse %}
                                                     {{ 'checked' if autoresponse.case_sensitive else '' }}
                                                  {% endif -%} />
            <label for="cb_case_sensitive">Case sensitive</label>
        </div>
        <div class="field inline ui checkbox four wide">
            <input type="checkbox" id="cb_remove_accents" name="remove_accents"
                                                  {%- if autoresponse %}
                                                     {{ 'checked' if autoresponse.remove_accents else '' }}
                                                  {% endif -%} />
            <label for="cb_remove_accents">Remove Accents (&ntilde; = n)</label>
        </div>
    </div>
    <div class="ui message warning" style="padding: 0.4em;"></div>
    <div class="ui message error" style="padding: 0.4em;"></div>
    {% if autoresponse %}
    <div class="ui submit button green">Edit</div>
    {% else %}
    <div class="ui submit button green">Create</div>
    {% endif %}
</div>
</form>
{% endblock %}
{% block footer %}
{% assets 'admin_create_autoresponse' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
